// You can overwrite bootstrap default values here.
// Refer node_modules/bootstrap/scss/_variables for a full list of variables.

// $primary: #d97700;
// $secondary: rgb(34, 255, 0);
// $danger: #ff36ee;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 600px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// );

// $spacer: 1rem;

// $colors: (
//     "primary-color": #197278,
//     "secondary-color": #283d3b,
//     "tertiary-color": #edddd4
// );

// WEBPAGE COLOR
$primary-color: rgb(191, 154, 202);
$secondary-color: rgb(237, 174, 192);
$tertiary-color: rgb(70, 77, 119);

// FONT COLOR
$main-font-color: rgb(238, 238, 238);


@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center; 
}