// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Write your sass code here or import partials


// ABOUT
#about {
    border: 1px solid red;
    @include flex;
    gap: 1rem;
    padding: 2rem;
    .sujin-pic {
        width: 200px;
        height: 200px;
        background-image: url(../img/sujin-pic.jpg);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        border-radius: 50%;
        box-shadow:  20px 20px 49px #d3d3d3,
                    -20px -20px 49px #ededed;
        filter: grayscale(0.8);
        &:hover {
            filter: grayscale(0);
        }
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1rem;
    }
}



